.advantages {
  padding: 0;
  background-color: @white;
  color: @black;
  list-style: none;
  &--second {
    padding: 0px 20px;
    background-color: @background-grey;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    order: 3;
    &--second {
      padding: 0; 
    }
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1200px;
    height: 330px;
    &--second {
      height: 256px;
    }
  }
}

.advantages__item {
  padding: 0;
  margin: 0;
  &--food {
    order: 3;
  }
  &--gift {
    order: 2;
  }
  @media (min-width: @tablet-width) {
    width: 256px;
    &--food {
      order: 2;
    }
    &--gift {
      order: 3;
    }
  }
  @media (min-width: @desktop-width) {
    width: 400px;
    height: 100%;
  }
}

.advantages__title {
  padding: 25px 20px 0;
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  & br {
    display: none;
  }
  &--home, &--gift, &--food{
    margin-bottom: 26px;
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 20px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding: 42px 50px;
    padding-bottom: 0;
    & br {
      display: block;
    }
    &--home, &--gift, &--food {
      margin: 0 auto;
      margin-top: 158px;
      margin-bottom: 30px;
      padding: 0 20px;
      text-align: center;
    }
  }
}

.advantages__intro {
  padding: 0 20px;
  padding-bottom: 25px;
  margin: 0;
  &--home, &--gift, &--food {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    padding-left: 70px;
    padding-right: 20px;
    color: @text-grey;
  }
  &--food {
    padding-bottom: 35px;
  }
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding: 0 40px;
    padding-bottom: 60px;
    text-align: center;
    &--food {
      padding: 0 50px;
    }
    &--gift {
      padding: 0 30px;
    }
  }
  @media (min-width: @desktop-width) {
    padding: 0 50px;
    &--gift {
      padding: 0 70px;
    }
  }
}