.advantages {
  order: 3;
}

.advantages__list {
  padding-left: 70px;
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: left;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;
}

.advantages__item__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__item__intro {
  padding-right: 20px;
  line-height: 21px;

  & br {
    display: none;
  }
}

.advantages__item--home svg {
  position: absolute;
  left: -48px;
  top: -10px;
}

.advantages__item--gift svg {
  position: absolute;
  left: -44px;
  top: -10px;
}

.advantages__item--food svg {
  position: absolute;
  left: -52px;
  top: -6px;
}

@media (min-width: @tablet-width) {
  .advantages {
    grid-column-start: 1;
    grid-column-end: -1;
    // order: 3;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-top: 50px;
    margin-bottom: 18px;
    // padding: 0 0 59px 0;
    text-align: center;
  }

  .advantages__item__title {
    padding-top: 110px;
    font-size: 21px;
    margin-bottom: 22px;
  }

  .advantages__item__intro {
    padding: 0 30px;
  }

  .advantages__item--home .advantages__item__intro,
  .advantages__item--food .advantages__item__intro {
    padding: 0 40px;
  }

  .advantages__item--gift {
    order: 3;
  }

  .advantages__item--home svg,
  .advantages__item--gift svg,
  .advantages__item--food svg {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 88px;
    top: 10px;
  }
  
  // .advantages__item--gift svg {
  //   position: absolute;
  //   left: -44px;
  //   top: -10px;
  // }
  
  // .advantages__item--food svg {
  //   position: absolute;
  //   left: -52px;
  //   top: -6px;
  // }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    margin-bottom: 38px;
  }

  .advantages__item--home,
  .advantages__item--food {
    .advantages__item__intro {
      padding: 0 50px;
    }
  }

  .advantages__item--gift {
    .advantages__item__intro {
      & br {
        display: block;
      }
    }
  }
  
  
  .advantages__item--home svg,
  .advantages__item--gift svg,
  .advantages__item--food svg {
    left: 160px;
  }
}