.features {
  text-align: center;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.features__title {
  max-width: 484px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.features__intro {
  max-width: 484px;
  padding: 0 25px 32px;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 0 32px;
  }

}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  color: @white;
  background-color: @main-blue;

  &:first-child .features__image {
    width: 320px;
    height: 260px;
    background-image: url("../../img/photo-city-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 520px 260px;
    background-position-x: 50%;
  }

  &:last-child .features__image {
    width: 320px;
    height: 260px;
    background-image: url("../../img/photo-bridge-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 520px 260px;
    background-position-x: 50%;
  }

  @media (min-width: @tablet-width) {
    &:first-child .features__image {
      width: 512px;
    }

    &:last-child .features__image {
      width: 512px;
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    &:first-child .features__image,
    &:last-child .features__image {
      width: 800px;
      background-size: 800px;
    }
  }
}
