.form__legend {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  background-color: @white;

  @media (min-width: @desktop-width) {
    &--fio {
      margin-left: 0px;
    }

    &--visited-places {
      margin-bottom: 58px;
    }
  }
}

.form__list {
  margin: 0;
  padding-left: 70px;
  list-style: none;

  &--places {
    margin-top: 15px;
  }

  @media (min-width: @tablet-width) {
    &--places {
      display: flex;
      width: 350px;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 50px;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-left: 190px;
    }

    &--rating {
      padding-top: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &--places {
      width: 910px;
      margin-left: 70px;
      margin-right: 0;
    }
    
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  &--radio,
  &--checkbox {
    display: inline-block;
    max-width: 210px;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    word-wrap: break-word;
    text-transform: none;
  }

  &--tel::after,
  &--email::after {
    position: absolute;
    display: block;
    content: "";
    width: 56px;
    height: 56px;
    top: 27px;
    right: 1px;
    background-color: @form-grey-2;
    background-image: url("../../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--email::after {
    background-image: url("../../img/icons/mail.svg");
  }

  @media (min-width: @tablet-width) {
    &--checkbox {
      width: 125px;
      margin-bottom: 62px;
    }

    &--radio {
      margin-bottom: 51px;
    }
  }
}

.form__input {
  padding: 18px 21px 14px;
  margin-bottom: 20px;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  background-color: @form-grey;
  color: @black;

  &::placeholder {
    color: @black;
  }
  
  &--text {
    width: 100%;
    margin-left: 14px;
  }

  &--tel,
  &--email {
    width: 100%;
  }

  &:hover { 
    background-color: @hover-form-grey;
  }

  &:focus {
    background-color: @white;
  }
}

.form__input--radio + .form__label::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -10px;
  left: -70px;
  background-color: @form-grey;
  border-radius: 50%;
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 6px;
  left: -53px;
  border-radius: 50%;
  background-color: @text-grey;
}

.form__input--radio + .form__label:hover::before {
  background-color: @hover-form-grey;
}

.form__input--radio + .form__label:active::before {
  background-color: @radio-down;
}

.form__input--radio:checked + .form__label:active::after {
  opacity: 0.3;
}

.form__label--checkbox svg {
  position: absolute;
  width: 46px;
  height: 146px;
  top: -60px;
  left: -70px;
}

.form__label--checkbox:hover rect {
  fill: @hover-form-grey;
  stroke: @hover-form-grey;
}

.form__label--checkbox:active rect {
  fill: @radio-down;
  stroke: @radio-down;
}

.form__input--checkbox:checked + .form__label::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 16px;
  top: 4px;
  left: -56px;
  background-image: url("../../img/icons/checkbox-tick.svg");
  background-position: center;
  background-color: transparent;
}

.form__input--checkbox:checked + .form__label:active::after {
  opacity: 0.3;
}