.full-form {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;  
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.full-form__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 176px;
  }
}

.full-form__footnote {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin: 0;
    margin-left: auto;
    margin-top: 18px;
    padding-right: 60px;
    float: right;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    order: 11;
  }

  @media (min-width: @desktop-width) {
    padding-right: 140px;
  }
}