.full-form {}

.full-form__wrapper {
  @media (min-width: @tablet-width) {
    width: 768px;
    // padding: 0 60px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    width: 960px;
    padding: 0;
  }
}

.full-form__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.full-form__footnote {
  display: none;
  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-right: 0;
    margin-left: 150px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
}