.item {
  counter-increment: features;
}

.item--long {
  display: grid;
}

.item__wrapper {
  width: 320px;
  padding: 0 10px;
  text-align: center;
  color: @white;
  background-color: @main-blue;
  order: 0;

  & br {
    display: none;
  }
}

.item__title {
  padding-top: 50px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
}

.features__item:nth-child(2) {
  .item__title {
    padding-top: 40px;
  }

  .item__description {
    padding-bottom: 36px;
  }
}

.features__item:nth-child(n+3) {
  padding-bottom: 24px;
  background-color: @background-grey;

  .item__title {
    padding: 0 20px;
    padding-top: 28px;

    br {
      display: none;
    }
  }
  .item__description {
    padding: 0 35px;
  }
}

.item__description {
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  

  &::before {
    display: block;
    content: "— №" counter(features) " —";
    margin-bottom: 16px;
  }
}

@media (min-width: @tablet-width) {
  .item--long {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .item__wrapper {
    width: 256px;
    min-height: 256px;
  }

  .features__item:nth-child(2) {
    .item__wrapper {
      order: 2;
    }

    .item__title {
      padding-top: 44px;
    }
}

  .item__title {
    padding-top: 40px;
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }

  .item__description {
    padding: 0 20px;

    &::before {
      margin-bottom: 20px;
    }
  }

  .features__item:nth-child(n+3) .item__title {
    padding-top: 42px;
    margin-bottom: 14px;
    
    br {
      display: block;
    }
  }

  .features__item:nth-child(n+3) .item__description {
    padding: 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-bottom: 94px;
  }

  .item__wrapper {
    width: 400px;
  }

  .item__title  {
    padding-top: 46px;
  }

  .features__item:nth-child(2) .item__title {
    padding-top: 52px;
  }

  .features__item:nth-child(2) .item__description {
    padding: 0 80px;
  }

  .features__item:nth-child(n+3) .item__description::before {
    margin-bottom: 24px;
  }

  .item__description {
    padding: 0 50px;
  }
}