.page-footer {
  width: 320px;
}

.page-footer__wrapper {
  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1280px;
  }
}
.page-footer__item {
  width: 170px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 16px;
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
  }
}

.page-footer__social {
  position: relative;
}

.page-footer__copyright {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 0px;
  width: 124px;
  height: 26px;
  margin-bottom: 26px;

  & svg {
    position: absolute;
    right: -2px;
    top: -3px;
  }

  &:hover path {
    fill: @main-blue;
  }

  &:active path {
    fill: @black;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: 14px;
    margin-right: 96px;

    & svg {
      right: -36px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 183px;
  }
}
