.page-footer {
  width: 320px;
}

.page-footer__wrapper {
  width: 320px;
  @media (min-width: @tablet-width) {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    width: 1280px;
  }
}
.page-footer__item {
  // display: inline-block;
  width: 170px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 33px;
  @media (min-width: @tablet-width) {
    position: relative;
    top: 10px;
    margin-left: 60px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 104px;
  }
}
.page-footer__social {
  position: relative;
  @media (min-width: @tablet-width) {

  }
}
.page-footer__copyright {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-right: 24px;
  width: 121px;
  height: 26px;
  margin-bottom: 26px;
  &::after {
    position: absolute;
    content: "";
    background: url(../../img/icons/icon-htmlacademy.svg) no-repeat center center;
    width: 27px;
    height: 34px;
    margin-left: 10px;
  }
  @media (min-width: @tablet-width) {
    position: relative;
    top: 10px;
    margin-right: 82px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 143px;
  }
}
